<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Better Call Doc</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="assets/Home/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="assets/Home/css/heroic-features.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="../../assets/Index/js/toastr.min.css" rel="stylesheet">

</head>

<body>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    </nav>

    <table class="border-collapse w-full">
        <thead>
            <tr>
                <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Doctor</th>
                <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Date</th>
                <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Time</th>
                <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Status</th>
                <th class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% for(const ap of app ){ %>
                <tr class="bg-white lg:hover:bg-gray-100 flex lg:table-row flex-row lg:flex-row flex-wrap lg:flex-no-wrap mb-10 lg:mb-0">
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Doctor</span>
                        <%= ap.name %>
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Date</span>
                        <%= ap.date %>
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Time</span>
                        <%= ap.time %>
                    </td>
                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Status</span>
                        <% if(ap.status == "pending"){%>
                            <span class="rounded bg-yellow-200 py-1 px-3 text-xs font-bold"><%= ap.status %></span>
                            <% } else if(ap.status == "completed"){ %>
                                <span class="rounded bg-blue-400 py-1 px-3 text-xs font-bold"><%= ap.status %></span>
                                <% } else if(ap.status == "accepted"){%>
                                    <span class="rounded bg-green-400 py-1 px-3 text-xs font-bold"><%= ap.status %></span>
                                    <% } else { %>
                                        <span class="rounded bg-red-400 py-1 px-3 text-xs font-bold"><%= ap.status %></span>
                                        <% } %>

                    </td>

                    <td class="w-full lg:w-auto p-3 text-gray-800 text-center border border-b text-center block lg:table-cell relative lg:static">
                        <% if(ap.status == "completed") { %>
                            <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Actions</span>
                            <% if(ap.p_Id == "0") { %>

                                <form method="POST" action="pdf/<%=ap.p_Id%>">
                                    <button type="submit" class="text-blue-400 hover:text-blue-600">Prescription</a>
                            </form>
                            <%}%>
                        <span class="lg:hidden absolute top-0 left-0 bg-blue-200 px-2 py-1 text-xs font-bold uppercase">Actions</span>
                        <a href="review/<%=ap.d_Id%>" class="rounded bg-green-400 block px-3 py-2 rounded-md text-base font-medium text-white bg-gray-900">Review</a>
                        <% } %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js "></script>
    <script src="../assets/Index/js/toastr.min.js"></script>
    <script>
        $("#navbar").load("../userdash/navbar");
    </script>


    <!-- <script type="text/javascript" src="Navbar.js"></script> -->

</body>

</html>