<!DOCTYPE html>
<html>

<head>
	<title>Patient</title>
</head>

<body>
	<div>
		<h2>Patient</h2>
	</div>

	<a href="/admin">home</a>|
	<a href="/logout">Logout</a><br><br>
	<a href="/admin/profile">Edit Profile</a><br>
	<a href="/admin/addNewDoctor">Add New Doctor</a><br>
	<a href="/admin/assignDoctor">Assign Doctor </a><br>
	<a href="/admin/view_Doctor">Doctor</a><br>
	<a href="/admin/view_Receptionist">Receptionist</a><br>
	<a href="/admin/view_Patient">Patient</a><br>
	<a href="/admin/view_Booked">Booked slot</a><br>
	<a href="/admin/view_Available">Available slot</a><br>

	<table border="1">
		<tr>
		
			<td>USERNAME</td>
			<td>Email</td>
			<td>Phone</td>
		
			<td>status</td>
		</tr>
		<% for(var i=0; i < userlist.length; i++){ %>
		<tr>
			
			<td><%= userlist[i].username %></td>
			<td><%= userlist[i].email %></td>
			<td><%= userlist[i].phone %></td>
			<td><%= userlist[i].status %></td>
			<td>
				<a href="/admin/view_Patient/<%= userlist[i].username %>">View Profile </a>
			</td>
		</tr>
		<%  } %>
	</table>

</body>

</html>